html {
    font-size: 16px;
}

/*delete div border when done*/
div {
    border: solid black 1px;
}

header {
    height: 50px;
    min-width: 700px;
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: slategray;
}

header span.logo {
    display: flex;
    align-items: center;
}

header span.logo img {
    height: 2.9rem;
    margin: 0 .15rem;
}

header span.bankrollValue {
    font-weight: bold;
}

header button.reset {
    margin-right: 1rem;
    /*TODO style button*/
}

.gameArea {
    min-width: 700px;
}

.dealerSide,
.playerSide {
    height: 50%;
}

